@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Julius+Sans+One&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-image: url(../img/auto-vintage.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover
}

header {
    margin: 5px 300px;
    border-width: 20px;
    border-color:#78513d #bdb7aa;
    border-style: groove;
    box-shadow: 5px 5px;
    border-radius: 20px;
    background-color: #b0816f;
}

h1 {
    color: #EEE2DE;
    font-family: 'Cinzel', serif;
    text-shadow: 5px 5px 10px black;
    font-size: 50px;
    margin: 0;
    padding: 10px;
}

fieldset {
    border-width: 10px;
    border-color: #78513d #bdb7aa;
    border-style: groove;
    margin: 20px 300px;
    background-color: #b0816f;
    border-radius: 10px;
    font-size: 20px;
}

fieldset:hover {
    background-color: #dac7b4;
}



legend {
    background-color: #eeeade;
    color: black;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    font-family: 'Cinzel', serif;
    font-family: 'Julius Sans One', sans-serif;
    box-shadow: 5px 5px;
}


#contanos {
    height: 80px;
}

input[type="text"],
input[type="number"],
#nacionalidad {
    margin: 15px 70px;
    height: 30px;
    width: 500px;
    background-color: #eeeade;
    font-size: 20px;
}
input:focus{
    background-color: #b0816f;
}

.sexo {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

input[type="radio"] {
    margin: 5px;
}

option{
    background-color: #b0816f;
    font-size: 20px;
}

.contacto input::placeholder {
    text-align: right;
    color: #90afa9;
}

.actividades {
    display: block;
    text-align: left;
}

.condiciones {
    display: block;
    color: #ffffff;
    margin: 20px 300px;
    text-align: left;
}

.condiciones input {
    margin-bottom: 20px;
}

button {
    font-size: 15px;
    color: #90afa9;
    background-color: #2b3d37;
    border-radius: 5px;
    padding: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
    box-shadow: 5px 5px;
}


button:hover {
    cursor: pointer;
    padding: 15px;
}